<template>
  <AddTask v-show="showAddForm" @add-task="onAddTask" />
  <Tasks
    :tasks="tasks"
    @delete-task="onDeleteTask"
    @toggle-reminder="onToggleReminder"
  />
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import Tasks from "../components/Tasks.vue";
import AddTask from "../components/AddTask.vue";
import { Task } from "../interfaces/Task";

@Options({
  components: {
    Tasks,
    AddTask,
  },
  props: {
    showAddForm: Boolean,
  },
  emits: ["show-hide-form"],
})
export default class Home extends Vue {
  tasks: Task[] = [];
  apiUrl = "api/tasks";

  async created(): Promise<void> {
    this.tasks = await this.fetchTasks();
  }

  async onAddTask(task: Task): Promise<void> {
    const response = await fetch(this.apiUrl, {
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify(task),
    });

    const respondedTask = await response.json();

    this.tasks = [...this.tasks, respondedTask];
  }

  async onDeleteTask(id: number): Promise<void> {
    const response = await fetch(this.apiUrl + `/${id}`, {
      method: "DELETE",
    });

    response.status === 200
      ? (this.tasks = this.tasks.filter((task) => task.id !== id))
      : alert("Error deleting task");
  }

  async onToggleReminder(id: number): Promise<void> {
    const taskToToggle = await this.fetchTask(id);
    const updatedTask = { ...taskToToggle, reminder: !taskToToggle.reminder };

    const response = await fetch(this.apiUrl + `/${id}`, {
      method: "PUT",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify(updatedTask),
    });

    const reponsededUpdatedTask = await response.json();

    this.tasks = this.tasks.map((task) =>
      task.id === id
        ? { ...task, reminder: reponsededUpdatedTask.reminder }
        : task
    );
  }

  async fetchTasks(): Promise<[]> {
    const response = await fetch(this.apiUrl);
    const repsondedTasks = await response.json();

    return repsondedTasks;
  }

  async fetchTask(id: number): Promise<Task> {
    const response = await fetch(this.apiUrl + `/${id}`);
    const repsondedTask = await response.json();

    return repsondedTask;
  }
}
</script>
