<template>
  <button
    @click="$emit('btn-click')"
    class="btn"
    :style="{ background: color }"
  >
    {{ text }}
  </button>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";

@Options({
  props: {
    text: String,
    color: String,
  },
})
export default class Button extends Vue {}
</script>

<style scoped></style>
