<template>
  <header>
    <h1>{{ title }}</h1>
    <Button
      v-show="homepage"
      :text="showAddForm ? 'Close' : 'Add'"
      :color="showAddForm ? 'red' : 'green'"
      @btn-click="$emit('show-hide-form')"
    />
  </header>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import Button from "./Button.vue";

@Options({
  components: {
    Button,
  },
  props: {
    title: String,
    showAddForm: Boolean,
  },
  emits: ["show-hide-form"],
  computed: {
    homepage() {
      if (this.$route.path === "/") {
        return true;
      } else {
        return false;
      }
    },
  },
})
export default class Header extends Vue {}
</script>

<style scoped>
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
</style>
