<template>
  <div :key="task.id" v-for="task in tasks">
    <Task
      :task="task"
      @delete-task="onDelete"
      @toggle-reminder="$emit('toggle-reminder', task.id)"
    />
  </div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import Button from "./Button.vue";
import Task from "./Task.vue";

@Options({
  components: {
    Button,
    Task,
  },
  props: {
    tasks: Array,
  },
  emits: ["delete-task", "toggle-reminder"],
})
export default class Tasks extends Vue {
  onDelete(id: number): void {
    this.$emit("delete-task", id);
  }
}
</script>

<style scoped></style>
